body {
    background-color: #121214;
    color: white;
    margin: 0;
    padding: 0;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #30323463;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    margin-top: 50px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    color: white;
    border: 1px solid white;
    background-color: #0C1115;
    border-radius: 3px;
    font-size: 14px;
}

button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}