  /* Style for the payment container */
  .payment-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #090D10;
    color: white;
}

/* Style for the payment options */
.payment-option {
    margin-bottom: 10px;
}

.payment-option label {
    font-weight: bold;
}

/* Style for the credit card details section */
#credit_card_details {
    display: none;
    margin-top: 10px;
}

#credit_card_details input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

/* Style for the Proceed to Payment button */
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}